body {
   background-color: #181a1b;
}

h2 {
   color: white;
   font-family: verdana;
   font-size: 21px;
}

h3 {
   color: white;
   font-family: verdana;
   font-size: 16px;
}

p {
   color: white;
   font-family: verdana;
   font-size: 13px;
}

div {
   color: white;
   background-color: #181a1b;
   width: 600px;
   border: 15px maroon;
   padding: 0px;
   margin: 20px;
}

a:link {
  color: #eeeeff;
  background-color: transparent;
  text-decoration: none;
}
